.site-masthead {
	position: relative;
	box-sizing: border-box;
	text-align: center;
}

.site-masthead h1 {
	padding: 0 2rem;
	margin-top: 1em;
	margin-bottom: 0.2em;
	font-size: 3em;
	line-height: 1;

	span {
		position: relative;
		right: 0.2em;
		bottom: 1.8em;
		font-size: 0.25em;
	}

	@media (min-width: $on-tablet) {
		font-size: 6em;
	}
}

.site-masthead h2 {
	padding: 0 2rem;
	margin: 0;
	color: $muted-text-color;
	font-size: 1.25em;

	@media (min-width: $on-tablet) {
		font-size: 3em;
	}
}
